.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
checkpoints/*.pt
segment-anything-3/VideoInputs
segment-anything-3/outputs
segment-anything-3/dist
segment-anything-3/temp
/sav_dataset/example/sav_000001.mp4
/notebooks/videos/bedroom.zip
