.vscode/
/.idea
__pycache__/
.venv
*.egg*
.DS_Store
*-checkpoint.ipynb
build/*
_C.*
/sav_dataset/example/sav_000001.mp4
/notebooks/videos/bedroom.zip
checkpoints/*.pt
sam3/dist
sam3/temp
/sam3/working_dir
/sam3/inputs/UserPrompts/points_labels_Img99.json
/sam3/sam2_video_predictor.spec
/DataVisualizationEditingTool/dist
/DataVisualizationEditingTool/build
/DataVisualizationEditingTool/main.spec
/DataVisualizationEditingTool/output.pickle
/sam3/inputs/UserPrompts/points_labels_Img1.json
sam3/inputs/VideoInputs
sam3/outputs
/DataVisualizationEditingTool/temp
/DataVisualizationEditingTool/files
/DataVisualizationEditingTool/workspace-Temp
/DataVisualizationEditingTool/workspace-Backup
/DatasetManager/DatasetHandler/OriginalDataset/idd20kII/
/DataVisualizationEditingTool/backup_lanes/
/DataVisualizationEditingTool/lanes/