.App {
  display: flex;
  text-align: center;
}

.sidebar {
  width: 200px;
  padding: 20px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.sidebar button {
  margin-bottom: 10px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.sliders {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
